Repository sagiegurari/cargo-make, pull requests merged in 2019-11, with the labels that each got.

#311 Add `CARGO_MAKE_WORKING_DIRECTORY`.
  CHANGELOG.md
  README.md
  docs/_includes/content.md
  src/lib/environment/mod.rs
Labels: enhancement

#309 Pass profiles in workspaces.
  CHANGELOG.md
  README.md
  docs/_includes/content.md
  src/lib/environment/mod.rs
  src/lib/execution_plan.rs
  src/lib/execution_plan_test.rs
Labels: Breaking Change, enhancement

#318 Expand environment variables in `tasks.cwd`
  CHANGELOG.md
  src/lib/runner.rs
Labels: Breaking Change, enhancement

#316 Add `CARGO_MAKE_WORKSPACE_INCLUDE_MEMBERS`.
  CHANGELOG.md
  README.md
  src/lib/execution_plan.rs
  src/lib/execution_plan_test.rs
Labels: enhancement

#319 0.24.0
  .travis.yml
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/_includes/content.md
  docs/_includes/nav.md
  examples/env.toml
  examples/profile.env
  examples/test.env
  src/lib/Makefile.base.toml
  src/lib/Makefile.beta.toml
  src/lib/Makefile.stable.toml
  src/lib/cli_commands/diff_steps_test.rs
  src/lib/cli_commands/list_steps_test.rs
  src/lib/cli_commands/print_steps_test.rs
  src/lib/condition_test.rs
  src/lib/descriptor.rs
  src/lib/environment/mod.rs
  src/lib/environment/mod_test.rs
  src/lib/execution_plan.rs
  src/lib/execution_plan_test.rs
  src/lib/legacy.rs
  src/lib/mod.rs
  src/lib/runner.rs
  src/lib/runner_test.rs
  src/lib/test/test_files/env.env
  src/lib/test/test_files/profile.env
  src/lib/types.rs
  src/lib/types_test.rs
  src/main.rs
  src/makers.rs
Labels: Breaking Change, documentation, enhancement
